@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html, body {
    height: 100% !important;
  }

  :focus {
    outline: none !important;
  }

  .inset-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .inset-center-x {
    left: 50%;
    transform: translateX(-50%);
  }
}
